@tailwind base;
@tailwind components;
@tailwind utilities;

.memoria-popup .mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.mapboxgl-popup.new-memory-popup {
  max-width: 320px !important;
}

.memoria-popup.new-memory-popup .mapboxgl-popup-content {
  width: 320px;
  border-radius: 0.5rem;
}

.memoria-popup .mapboxgl-popup-close-button {
  position: absolute;
  top: 18px;
  right: 5px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  opacity: 0;
  animation: popupCloseButtonAppear 0.5s ease-out forwards;
}

.new-memory-popup .mapboxgl-popup-close-button {
  top: 10px;
  right: 5;
}

.memoria-popup .mapboxgl-popup-close-button:hover {
  background-color: rgba(143, 142, 142, 0.2);
  color: #000;
}

@keyframes popupCloseButtonAppear {
  from {
    opacity: 0;
    transform: scale(0.97) translateX(-7px) translateY(15px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
  }
}

.memoria-icon-button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0;
  animation: popupButtonAppear 0.5s ease-out forwards 0.1s;
}
.memoria-icon-button svg {
  width: 18px;
  height: 18px;
}

.memoria-edit-button:hover {
  background-color: rgba(59, 130, 246, 0.2);
  color: #3b82f6;
}

.memoria-delete-button:hover {
  background-color: rgba(239, 68, 68, 0.2);
  color: #ef4444;
}

@keyframes popupButtonAppear {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-3x);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.mapboxgl-ctrl-bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder {
  direction: rtl;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder--input {
  direction: ltr;
}
